[submodule "franka_ros"]
	path = franka_ros
	url = git@github.com:rickstaa/franka_ros.git
[submodule "panda_moveit_config"]
	path = panda_moveit_config
	url = git@github.com:ros-planning/panda_moveit_config.git
