<!-- Script to test the robot control
-->
<launch>
    <!--Script parameters-->
    <arg name="load_gripper" default="true"/>
    <arg name="robot_ip" default="172.16.0.2"/>
    <!--    Wether the franka_control node should run on this pc-->
    <arg name="load_franka_control_node" default="false"/>

    <!--If needed, broadcast static tf for robot root-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world panda_link0" />

    <!--Load franka controller-->
    <group if="$(arg load_franka_control_node)">
        <include file="$(find franka_control)/launch/franka_control.launch">
            <arg name="robot_ip" value="$(arg robot_ip)"/>
            <arg name="load_gripper" value="$(arg load_gripper)"/>
        </include>
    </group>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>
    <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" respawn="false" output="screen" />

    <!--Load the URDF, SRDF and other .yaml configuration files on the param server-->
    <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <!--Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default)-->
    <include file="$(find panda_moveit_config)/launch/move_group.launch">
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <!--Run Rviz-->
    <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find real_panda_control_examples)/cfg/moveit.rviz"/>
    </include>
</launch>
